/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

#fill-black {
  background-color: black; /* Workaround to hide blank pixels at navbar corners. */
  height: 50px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.logo {
  width: 88px;
  height: 20px;
  padding: 0;
  margin: 12px 20px 0px 0px !important;
  background: transparent url('/img/nadica-logo-white.png') center top no-repeat;
}
.logo:hover,
.logo:focus {
  background: transparent url('/img/nadica-logo-white.png') center top no-repeat;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
.footer-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

